<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
      <%- include layout/menu%>
  <center>
    <h1>  <%=data_subjectstudent[0].Subject.subject_name%></h1>
     <a href="/subjects">back to Subject List</a> <br> <br>
      <table>
        <tr>
          <th>No</th>
          <th>Nama</th>
          <th>Score</th>
          <th></th>
          <th colspan='2'></th>
        </tr>
        <% var sum=1;%>
        <% let i =0%>
        <% data_subjectstudent.forEach(ss =>{%>
        <tr>
          <td><%= sum++ %></td>
          <td><%= ss.Students.first_name+' '+ss.Student.last_name %></td>
          <td>
              <% if (ss.Score == null) { %>
                 <td> <a href="/subjects/givescore/<%=ss.StudentId%>/<%=ss.SubjectId%>">Give Score</a></td>
                 <% } else {%>
              <td><%=ss.Score%></td>
             <%}%>
             <td><%= scoreLetter[i]%> </td>
             <% i++%>
        </tr>
          <%})%>
        </table>
      <br>
  </form>
  </center>
  </body>
</html>
