<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <%- include layout/menu%>
  <center>
    <h1>STUDENT EDIT FORM</h1><br><br>
    <form action="/students/edit/<%=data_students.id%>" method="POST">
    First Name:<br>
    <input type="text" name="first_name" value="<%=data_students.first_name %>">
    <br>
    Last Name:<br>
    <input type="text" name="last_name" value="<%=data_students.last_name %>">
    <br>
    Email:<br>
    <input type="text" name="email" value="<%=data_students.email %>">
    <br>
    Degree:<br>
    <input type="text" name="jurusan" value="<%=data_students.jurusan %>">
    <br>
    <br>
    <input type="submit" value="Submit">
  </form>
  </center>
  </body>
</html>
