<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
  <center>
    <h1>STUDENT EDIT FORM</h1><br><br>
    <form action="/teachers/edit/<%=data_teachers2.id%>" method="POST">
    First Name:<br>
    <input type="text" name="first_name" value="<%=data_teachers2.first_name %>">
    <br>
    Last Name:<br>
    <input type="text" name="last_name" value="<%=data_teachers2.last_name %>">
    <br>
    Email:<br>
    <input type="email" name="email" value="<%=data_teachers2.email %>">
    <br>
    Subject:<br>
    <select name="SubjectId">
      <option value =""> -- SELECT SUBJECT -- </option>
      <% data_teachers2.forEach(subj => { %>
      <option value=" <%= subj.id%> "> <%= subj.subject_name %> </option>
      <% }) %>
    </select>
    <br>
    <br>
    <br>
    <input type="submit" value="Submit">
  </form>
  </center>
  </body>
</html>
